#allbox{
   width: 1400px;
   height: 1600px;
   background-color:#D5D5D5;
}
#box1{
	float: left;
	width: 21%;
	height: 1000px;
	background-color: yellow;
	margin: 20px 12px;
}
#box2{
	float: right;
   width:65%;
   height: 1500px;
   background-color: white;
   margin: 20px 12px;
   
}

#subbox1{
	 background-color:#1b5ac2;
	 margin: 20px auto;
	 width: 280px;
	 height: 400px;
}
#subbox2{
	 background-color:blue;
	 margin: 20px auto;
	width: 280px;
	height: 400px;
}
#search_h3{
	background-color:white;
}

------------------

#Hsearch input[type="number"]{
	width: 15px;
	height : 20px;
}

#view{
	background-color: white;
	border-radius: 7px 7px 7px 7px ;
	border:2px solid #BBBBBB;
}

img.ui-datepicker-trigger {
	margin-left: 5px;
	vertical-align: middle;
	cursor: pointer;
	width: 30px;
	height: 35px;
}

#hotelBox {
	width: 1200px;
	height: 1800px;
	background-color: red;
}

.hotel_search_Box {
	width: 1000px;
	height: 300px;
	background-color: blue;
	margin: 20px auto;
}

#search_h1 {
	float: left;
	width: 480px;
	height: 260px;
	background-color: pink;
	margin: 20px 10px;
}

#search_h2 {
	float: right;
	width: 480px;
	height: 260px;
	background-color: pink;
	margin: 20px 10px;
}

#hotel_list_Box {
	width: 1000px;
	height:1400px;
	margin: 10px auto;
	background-color: green;
}

#list_Box{
	width: 980px;
	height: 1350px;
	margin: 0 auto;
	background-color: gold;
}
















