img.ui-datepicker-trigger {
	margin-left: 5px;
	vertical-align: middle; 
	cursor: pointer;
	width: 35px;
	height: 40px;
}

#Hsearch select{
	width:120px;
	height: 43px;
	display:inline;
	text-align: center;
	border:2px solid #BBBBBB;
	
}

#Hsearch button {
	background-color: white;
	padding: 11px 0;
	border: 1px solid #BBBBBB;
	width: 140px;
	text-align: center;
	border-radius: 5px 5px 5px 5px ;
	display:inline;
}