main {
    position: relative;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
.member .content-wrap {
    padding: 0;
    width: 100%;
}

.member .content-wrap {
    padding: 60px 0 100px;
    width: 430px;
}
.container-fluid {
    padding-right: .9375rem;
    padding-left: .9375rem;
    margin-right: auto;
    margin-left: auto;
}
element.style {
}
* {
    box-sizing: border-box;
    outline: none;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
div {
    display: block;
}
body, html {
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    font-family: -apple-system,BlinkMacSystemFont,Malgun Gothic,"\B9D1\C740 \ACE0\B515",Roboto,Helvetica,Arial,sans-serif;
    letter-spacing: -.2px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "���� ���", Roboto, Helvetica, Arial, sans-serif;
}
html, body {
    background: #fff;
    letter-spacing: -.2px;
}
html, body {
    letter-spacing: -0.3px;
    font-size: 10px;
}
html, body {
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #373a3c;
    background-color: #fff;
}
body, html {
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    font-family: -apple-system,BlinkMacSystemFont,Malgun Gothic,"\B9D1\C740 \ACE0\B515",Roboto,Helvetica,Arial,sans-serif;
    letter-spacing: -.2px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
html, body {
    background: #fff;
    letter-spacing: -.2px;
}
html, body {
    letter-spacing: -0.3px;
    font-size: 10px;
}
html, body {
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased;
}
html {
    font-size: 16px;
    -webkit-tap-highlight-color: transparent;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
.member .panel-button .btn-wrap:first-of-type {
    margin-top: 0px;
}
.member .panel-button .btn-wrap {
    margin-top: 10px;
}
.member .panel-line {
    margin: 16px 0;
    position: relative;
}
.clearfix::after {
    display: table;
    clear: both;
    content: "";
}
.panel-body>*:last-child {
    margin-bottom: 0;
}
.member .member-panel .panel-body .content-wrapper {
    margin-bottom: 16px;
}
.form-group {
    margin-bottom: 1rem;
}
.member .content-title-box {
    color: #495056;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
}
.row {
    margin-right: -.9375rem;
    margin-left: -.9375rem;
}
.member.member-signup .checkbox-signup-all {
    margin: 0 10px;
}
.member.member-signup .checkbox-signup-all {
    padding-bottom: 12px;
    padding-top: 12px;
}
.member.member-signup .checkbox-signup {
    margin: 0;
    padding-bottom: 8px;
    padding-top: 8px;
}
.member .form-wrapper .checkbox-custom {
    color: #343a40;
    font-size: 13px;
    margin: 0;
}
.checkbox-signup {
    position: relative;
}
.checkbox-custom {
    padding-left: 20px;
}
.radio-custom, .checkbox-custom {
    display: block;
    margin-bottom: 5px;
    margin-top: 15px;
    position: relative;
}
.member.member-signup .checkbox-signup-wrapper {
    padding-left: 10px;
    padding-right: 10px;
}
.member.member-signup .checkbox-signup-wrapper {
    border-top: 1px solid #dee2e6;
    padding-top: 8px;
}
.btn--type-primary:disabled {
    background-color: #dee2e6;
    color: #fff !important;
}
.btn--width-100 {
    width: 100%;
}

.btn-new {
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 700;
    height: 48px;
    line-height: 46px;
    padding: 0;
    text-align: center;
    width: 120px;
}
input:not([type="checkbox"]):not([type="radio"]), button, textarea, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
input, button, select, textarea {
    margin: 0;
    line-height: inherit;
    border-radius: 0;
}
a, area, button, [role="button"], input, label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
button[disabled], html input[disabled] {
    cursor: default;
}
button{
	font: inherit;
    color: inherit;
}
aaa{
background-color:rgb(221,0,0);
transition: all 0.1s ease-out;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 700;
    height: 48px;
    line-height: 46px;
    padding: 0;
    text-align: center;
    width: 120px;
}