#tuor_body{
   width: 1200px;
   height: 1600px;
   background-color: red;
}
#sideBar{
   float: left;
   width: 300px;
   height: 1500px;
   background-color: blue;
   margin: 20px 12px;
}
#sideMenu{
   float: right;
   width: 200px;
   height: 1500px;
   background-color: pink;
  
}
#tourList{
   float: right;
   width: 850px;
   height: 1500px;
   background-color: yellow;
   margin: 20px 12px;
}
#contentT{
	background-color: white;
	   margin: 0 12px;
}
#contents img{
	border-radius: 15px 15px 0 0;
	padding: 1px 1px 1px 1px;
	width:300px; 
	height:250px;
}
#contents{
	float: left;
	margin: 20px 5px;
	border:1px solid #BBBBBB;
	border-radius: 15px;
	height:380px;
}
#contents:hover{
	border:1px solid pink;
}
#contents dt{
	margin: 0 25px;
}

#search_bar{
	height: 40px;
	width : 400px;
	border: 1px solid #1b5ac2;
	background: #ffffff;
}
#search_bar input{
	font-size: 16xp;
	width: 325px;
	padding:  10px;
	border: 0px;
	outline: none;
	float: left;
}
#search_bar button {
	width: 50px;
	height: 100%;
	border: 0px;
	background: #1b5ac2;
	outline: none;
	float: right;
	color: #ffffff;
}









