@charset "UTF-8";

#air_header_search {
	background-color: #8fc2f5;
	text-align: center;
}

.air_array {
	float: right;
	margin-right: 10%;
}

.air_list {
	width: 100%;
}

.air_left {
	float: left;
	width: 15%;
	height: 550pt;
/* 	background-color: #ccccff; */
	font-size: 15pt;
	margin-left: 5%;
	margin-right: 5%;
	padding-left: 13pt;
	padding-top: 5pt;
}

.air_right {
	padding-left: 5%;
	background-color: white;
	height: 800pt;
	margin-right: 5%;
}

input[type=text]{
	border: 2px solid #aaa;
	border-radius: 4px;
	margin: 8px	0;
	outline: none;
	padding: 10px;
	box-sizing: border-box;
	transitio;
}

input[type=text]:focus{
	border-color: dodgerBlue;
	box-shadow: 0 0 8px 0 dodgerBlue;
}