@charset "UTF-8";

#air_header_search {
	background-color: #d3ffce;
	text-align: center;
}

.air_array {
	float: right;
	margin-right: 10%;
}

.air_list {
	width: 100%;
}

.air_left {
	float: left;
	width: 15%;
	height: 550pt;
	background-color: #ccccff;
	font-size: 15pt;
	margin-left: 5%;
	margin-right: 5%;
	padding-left: 13pt;
	padding-top: 5pt;
}

.air_right {
	padding-left: 5%;
	background-color: white;
	height: 800pt;
	margin-right: 5%;
}